{% load static %}



<script src='https://code.jquery.com/jquery-3.4.1.min.js'></script>

<script src="{% static './vendors/@popperjs/popper.min.js' %}"></script>
<script src="{% static './vendors/bootstrap/bootstrap.min.js' %}"></script>
<script src="{% static './vendors/is/is.min.js' %}"></script>
<script src="{% static './js/theme.js' %}"></script>
<script src="{% static './js/main.js' %}"></script>
<script src="{% static '/js/likeajax.js' %}"></script>
<script src="{% static '/js/test.js' %}"></script>
<script src="{% static '/js/quantity.js' %}"></script>




